<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dothome.inceleb.instamanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tab.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Home.FollowerActivity" />
        <activity android:name=".Home.FollowActivity" />
        <activity android:name=".Home.UnfollowActivity" />
        <activity android:name=".Home.NotFollowActivity" />
        <activity android:name=".Home.RemovedActivity" />
        <activity android:name=".Home.BlockActivity" />
        <activity
            android:name=".Home.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme" />
        <activity android:name=".UserInsight.GraphActivity" />
        <activity android:name=".UserInsight.BestFollwerActivity" />
        <activity android:name=".UserInsight.BestPanActivity" />
        <activity android:name=".UserInsight.WorstFollwerActivity" />
        <activity android:name=".NoticeInsight.GraphActivity"></activity>
    </application>

</manifest>